## The following requirements were added by pip freeze:
alembic==1.13.1
appdirs==1.4.4
asn1crypto==1.5.1
Babel==2.15.0
backports.functools-lru-cache==2.0.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.7
cssselect2==0.7.0
CTkMessagebox==2.5
customtkinter==5.2.2
darkdetect==0.8.0
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Alembic==3.0.1
flask-babel==4.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flaskwebgui==1.1.1
fonttools==4.53.0
greenlet==3.0.3
html5lib==1.1
itsdangerous==2.2.0
Jinja2==3.1.4
loguru==0.7.2
lxml==5.2.2
Mako==1.3.5
Markdown==3.6
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.3
packaging==24.0
pandas==2.2.2
pdf_reports==0.3.7
pg8000==1.31.2
pillow==10.3.0
psutil==5.9.8
pycparser==2.22
pydyf==0.10.0
PyMySQL==1.1.1
pyphen==0.15.0
pypugjs==5.11.0
python-dateutil==2.9.0.post0
python-ulid==2.6.0
pytz==2024.1
scramp==1.4.5
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.30
staging-cacao-accounting==0.0.2rc20240532
staging-cacao-accounting-desktop==2024.5.31
teritorio==2024.3.18
tinycss2==1.3.0
typing_extensions==4.12.0
tzdata==2024.1
waitress==3.0.0
weasyprint==62.1
webencodings==0.5.1
Werkzeug==3.0.3
WTForms==3.1.2
WTForms-SQLAlchemy==0.4.1
zopfli==0.2.3
